<!DOCTYPE html>
<div class="A">
<section class="class="flow js-anim scroll_anime active">
<html>
  <head>
    <title>Eno</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
 <header>
    
    <header class="header-content">
      
      <ul class="header-list">
        <% if user_signed_in? %>
          <ul><%= link_to 'サウナ日記をつける', diary_entries_path %></ul>
          <ul><%= link_to "プロフィール", user_path(current_user.id) %></ul>
          <ul><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></ul>
        <% else %>
          <ul><%= link_to "新規登録", new_user_registration_path %></ul>
          <ul><%= link_to "ログイン", new_user_session_path %></ul>
        <% end %>
      </ul>
    </header>
 </header>
 <div class="img-wrapper">
  <h1>
    <span class="larger-text">サウナでととのう</span><br>
    ~心と体をリセットする、私だけのサウナ日記~
  </h1>
 </div>
 <main>
  <%= yield %>
 </main>
</body>
</section>
</div>
  
</html>

